.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  background: linear-gradient(to right, #e0f7fa, #b2ebf2);
  border-bottom: 1px solid #ccc;
}

.logo img {
  height: 40px;
  background: inherit;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  align-items: left;
}

.navLinks li {
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-in-out;
  position: relative;
  padding-bottom: 5px;
}

.navLinks a:hover,
.navLinks .active {
  color: #0077cc;
}

.navLinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #0077cc;
  transition: width 0.3s ease-in-out;
}

.navLinks a:hover::after {
  width: 100%;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown:hover .dropdownMenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdownMenu ol {
  padding: 10px;
}

.dropdownMenu ol a {
  color: #333;
  display: block;
  transition: color 0.3s;
}

.dropdownMenu li a:hover {
  color: #0077cc;
}

/* Notification Icon */
.notification {
  position: relative;
  margin-right: 20px;
}

.notification svg {
  color: black;
  cursor: pointer;
}

.notification svg:hover {
  color: #0077cc;
}
